
#click{
    color:rgb(150, 127, 255) ;
}

#Comms{
    background-image: url(pictures/Speech_UI_2.PNG);
    z-index: 15;
    position: absolute;
    padding: 50px;
    top: 500px;
    left:800px;
    text-align: center;
    color: rgb(31, 31, 100);
    font-size: large;
    background-size: 500px;
    background-repeat: no-repeat;
    width:400px;
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
body {
    background-image: url('pictures/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
};

#Creature {
    justify-content: center;
    position: relative;
};
.creature {
z-index: 16;
position: relative;
 overflow: visible;}
#NeedsFood {
    position: relative;
    width: 500px;
};

#Instructions {
    padding-top:500px;
};

.tree-container {
    position: relative;  
    width: 500px; 
    height: 500px; 
    bottom: auto;       
}

#Fruit-Tree {
    width: 100%;
    display: block;
}

.how-to span {
    cursor: pointer;
    color: rgb(225, 222, 240);
};

.tree-container {
    position: relative;  
    width: 500px; 
    height: 500px; 
    bottom: auto;       
}

#Fruit-Tree {
    width: 100%;
    display: block;
}

#GetBlueFruit {
    position: absolute;
    width: 250px;
    top: 90px;
    left: 250px;
}

#GetOrangeFruit {
    position: absolute;
    width: 250px;
    top: 15px;
    left: 730px;
}

#GetPinkFruit {
    position: absolute;
    width: 250px;
    bottom: 480px;
    left: 360px;
}

#GetPurpleFruit {
    position: absolute;
    width: 250px;
    top: 90px;
    left: 550px;
}

#GetYellowFruit {
    position: absolute;
    width: 250px;
    bottom: 365px;
    left: 800px;
}


