body {
    background-image: url('pictures/Background.png');
    background-size: 1200px;
};
#Creature {
    justify-content: center;
};

#NeedsFood {
    position: absolute;
    width: 500px
};

#messagediv {
    position: relative;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
};

.how-to {
    height: 20px;
    overflow: hidden;
    width: 70px;
    padding: 10px;
    background: rgb(232, 192, 255);
    margin: 20px;
};

.okay {
};

.help {
    height: auto;
    overflow: visible;
};

.how-to span {
    cursor: pointer;
    color: rgb(225, 222, 240);
};

.tree-container {
    position: relative;  
    width: 500px; 
    height: 500px; 
    bottom: auto;       
}

#Fruit-Tree {
    width: 100%;
    display: block;
}

#GetBlueFruit {
    position: absolute;
    width: 250px;
    top: 90px;
    left: 350px;
}

#GetOrangeFruit {
    position: absolute;
    width: 250px;
    top: 15px;
    left: 730px;
}

#GetPinkFruit {
    position: absolute;
    width: 250px;
    bottom: 425px;
    left: 360px;
}

#GetPurpleFruit {
    position: absolute;
    width: 250px;
    top: 90px;
    left: 550px;
}

#GetYellowFruit {
    position: absolute;
    width: 250px;
    bottom: 465px;
    left: 800px;
}

