body {
    background-image: url('pictures/Background.png');
    background-size: 1200px;
};
#Creature {
    justify-content: center;
};

#NeedsFood {
    position: absolute;
    width: 500px
};

#messagediv {
    position: relative;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
};

.how-to {
    height: 20px;
    overflow: hidden;
    width: 70px;
    padding: 10px;
    background: rgb(232, 192, 255);
    margin: 20px;
};

.okay {
};

.help {
    height: auto;
    overflow: visible;
};

.how-to span {
    cursor: pointer;
    color: rgb(225, 222, 240);
};
